div.dropdown {
}

    button.dropdownButton {
        width: 100%;
        cursor: pointer;
    }

    ul.dropdownMenu {
        width: 100%;
        padding: 0;
        background-color: var(--color-bg-secondary);
        box-shadow: 0 0 30px rgba(0, 0, 0, .25);

        & li{
            color: var(--color-text-primary);
            cursor: pointer;   
        }
        & li:hover {
            background-color: var(--color-accent-bg);
            color: var(--color-accent-text);

        }
    }
