[data-theme="light"]:root {
  /* Default */
  --color-text-default: #37352F;
  --color-bg-default: #FFFFFF;
  --color-pill-default: rgba(206, 205, 202, 0.5);

  /* Gray */
  --color-text-gray: #9B9A97;
  --color-bg-gray: #EBECED;
  --color-pill-gray: rgba(155, 154, 151, 0.4);

  /* Brown */
  --color-text-brown: #64473A;
  --color-bg-brown: #E9E5E3;
  --color-pill-brown: rgba(140, 46, 0, 0.2);

  /* Orange */
  --color-text-orange: #D9730D;
  --color-bg-orange: #FAEBDD;
  --color-pill-orange: rgba(245, 93, 0, 0.2);

  /* Yellow */
  --color-text-yellow: #DFAB01;
  --color-bg-yellow: #FBF3DB;
  --color-pill-yellow: rgba(233, 168, 0, 0.2);

  /* Green */
  --color-text-green: #0F7B6C;
  --color-bg-green: #DDEDEA;
  --color-pill-green: rgba(0, 135, 107, 0.2);

  /* Blue */
  --color-text-blue: #0B6E99;
  --color-bg-blue: #DDEBF1;
  --color-pill-blue: rgba(0, 120, 223, 0.2);

  /* Purple */
  --color-text-purple: #6940A5;
  --color-bg-purple: #EAE4F2;
  --color-pill-purple: rgba(103, 36, 222, 0.2);

  /* Pink */
  --color-text-pink: #AD1A72;
  --color-bg-pink: #F4DFEB;
  --color-pill-pink: rgba(221, 0, 129, 0.2);

  /* Red */
  --color-text-red: #E03E3E;
  --color-bg-red: #FBE4E4;
  --color-pill-red: rgba(255, 0, 26, 0.2);
}

[data-theme="dark"] {
  /* Default */
  --color-text-default: rgba(255, 255, 255, 0.9);
  --color-bg-default: #2F3437;
  --color-pill-default: rgba(206, 205, 202, 0.5);

  /* Gray */
  --color-text-gray: rgba(151, 154, 155, 0.95);
  --color-bg-gray: #454B4E;
  --color-pill-gray: rgba(151, 154, 155, 0.5);

  /* Brown */
  --color-text-brown: #937264;
  --color-bg-brown: #434040;
  --color-pill-brown: rgba(147, 114, 100, 0.5);

  /* Orange */
  --color-text-orange: #FFA344;
  --color-bg-orange: #594A3A;
  --color-pill-orange: rgba(255, 163, 68, 0.5);

  /* Yellow */
  --color-text-yellow: #FFDC49;
  --color-bg-yellow: #59563B;
  --color-pill-yellow: rgba(255, 220, 73, 0.5);

  /* Green */
  --color-text-green: #4DAB9A;
  --color-bg-green: #354C4B;
  --color-pill-green: rgba(77, 171, 154, 0.5);

  /* Blue */
  --color-text-blue: #529CCA;
  --color-bg-blue: #364954;
  --color-pill-blue: rgba(82, 156, 202, 0.5);

  /* Purple */
  --color-text-purple: #9A6DD7;
  --color-bg-purple: #443F57;
  --color-pill-purple: rgba(154, 109, 215, 0.5);

  /* Pink */
  --color-text-pink: #E255A1;
  --color-bg-pink: #533B4C;
  --color-pill-pink: rgba(226, 85, 161, 0.5);

  /* Red */
  --color-text-red: #FF7369;
  --color-bg-red: #594141;
  --color-pill-red: rgba(255, 115, 105, 0.5);
}
