header.header{

}

    .headerImg{
        width: 100%;
        height: 200px;

        position: relative;

        background-size: cover;
        background-repeat: no-repeat;
    }

        .headerImg .pageIcon{
            position: absolute;   
            bottom: -2rem;
            left: 4rem;

            font-size: 4rem;
        }

    div.colorContainer{
        background-color: var(--color-bg-secondary);
        padding: 15px;
        border-radius: 50px;
        overflow: visible;

        &:hover{
            gap: 1rem;
        }

        &:hover div.colorOptions{
            width: 100px;
            min-width: fit-content;
            
            gap: .2rem;
            opacity: 1;            
        }
    }

        span.currentColor{
            display: block;
            
            border: 2px solid var(--color-bg-secondary);
            box-shadow: 0 0 0 3px currentColor;
            
            cursor: default !important;
            transition: color 150ms ease-out;
        }

        div.colorOptions{
            width: 0;

            display: flex;
            align-items: center;
            gap: 0;
            
            overflow-x: hidden;
            opacity: 0;

            transition: all 200ms;
        }
            input[type="radio"].colorOption{
                visibility: hidden;
                display: none;
            }
                input[type="radio"].colorOption + label,
                span.currentColor{
                    background-color: currentColor;
                    height: 1.2rem;
                    aspect-ratio: 1/1;

                    display: inline-block;
                    vertical-align: middle;

                    border-radius: 50px;

                    cursor: pointer;
                    user-select: none;
                }
                input[type="radio"].colorOption:checked + label{
                    scale: .75;
                    border: 2px solid var(--color-bg-secondary);
                    box-shadow: 0 0 0 3px currentColor;
                }

