header.header{

}

    .headerImg{
        width: 100%;
        height: 200px;

        position: relative;

        background-size: cover;
        background-repeat: no-repeat;
    }

        .headerImg .pageIcon{
            position: absolute;   
            bottom: -2rem;
            left: 4rem;

            font-size: 4rem;
        }

    .pageTitle{
        color: var(--color-text-primary);
    }

    /* LINKS */
    section.links{
        display: flex;
    }

        ul.linksContainer{
            margin-bottom: 0;
            padding-left: 0;
            list-style: none;

            display: flex;
            justify-content: end;
            gap: .5rem;
        }
            ul.linksContainer .link{
                padding: .3rem .7rem;
                margin-top: auto;

                color: var(--color-text-secondary);
                font-size: .9rem;
                text-decoration: none;
                
                display: flex;
                align-items: center;
                gap: .5rem;
                
                border-radius: 5px;
                
                cursor: pointer;
                transition: all .2s;

                & i{
                    color: var(--color-accent-text);
                    font-size: 1em;
                }

                &:hover{
                    background-color: var(--color-accent-pill);
                    text-decoration: underline;
                }
            }

    /* TEMAS */
    div.themesContainer{
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    button.themeToggleBtn{
        background-color: var(--color-bg-secondary);
        
        border-radius: 100px;
        
        cursor: pointer;
        transition: all .2s;

        display: flex;
        align-items: center;
        justify-content: center;

        color: var(--color-text-secondary);
        font-size: 1.2rem;

        border: 2px solid transparent;

        transform: all 200ms ease-out;

        &:hover{
            color: var(--color-accent-text);
            background-color: var(--color-accent-pill);
            transform: scale(1.05);
        }

        &:active{
            transform: scale(0.95);
        }

        i{
            color: currentColor;
        }
    }

    /* Cores */
    div.colorDropdown{
        /* dropdown de cores */
    }
        button.dropdownBtn{
            background-color: var(--color-bg-secondary);
            padding: .5rem;
            
            border-radius: 100px;

            transform: all 200ms ease-out;

            &:hover{
                background-color: var(--color-accent-pill);
                
                scale: 1.05;
            }
        }
            span.currentColor{
                background-color: currentColor;
                width: 1.2rem;
                aspect-ratio: 1/1;

                display: block;
                
                border-radius: 100%;
                
                border: 2px solid var(--color-bg-secondary);
                outline: 3px solid currentColor;
            }

        ul.dropdownMenu{
            min-width: 1px;
            background-color: var(--color-bg-secondary);
            white-space: nowrap;
        }
            ul.dropdownMenu li{
                display: inline-block;
                width: min-content;
                vertical-align: middle;
                background-color: var(--color-bg-secondary);

                &:hover{
                    background-color: var(--color-bg-secondary);
                }
            }

            input.colorOption{
                display: none;

                & + label{
                    background-color: currentColor;
                    width: 1.3rem;
                    aspect-ratio: 1/1;
                    
                    border-radius: 100%;
                    display: block;
                    cursor: pointer;

                    transition: all 150ms ease-out;

                    &:hover{
                        scale: 1.1;
                    }
                }
                &:checked + label{
                    border: 2px solid var(--color-bg-secondary);
                    outline: 3px solid currentColor;
                    scale: .9;
                }
            }

















hr{color:var(--color-text-secondary)}