header.pageHeader{


}
    header.pageHeader
    section.titleContainer{

        & i{
            font-size: 1.25rem;
            color: var(--color-accent-text);
        }
        & .title{
            font-size: 1.5rem;
            margin-bottom: 0;
        }
    }

    header.pageHeader
    section.controllerContainer{
        & button.addBtn{
            background-color: var(--color-accent-text);

            color: var(--color-accent-bg);
            font-size: 1.3rem;
            
            display: flex;
            justify-content: center;
            align-items: center;
            
            border: none;
            outline: none;
            border-radius: 100px;
            
            transition: all 200ms ease-out;

            &:hover{
                filter: brightness(0.9);
            }
            
            &::after{
                content: 'Adicionar';
                width: 0;

                font-size: .8rem;
                color: currentColor;
                overflow: hidden;
                
                opacity: 0;                
                transition: width 200ms ease, opacity 200ms ease;
            }

            &:hover::after{
                width: auto;
                opacity: 1;
            }
        }
    }



main.tableContainer{
    
}

    main.tableContainer
    div.tableWrapper{
        background-color: var(--color-bg-secondary);
        padding: .3rem 1rem;
        border-radius: 10px;
    }

    main.tableContainer
    table.dataTable{
        
        & th, & tr, & td {
            background-color: transparent;
            color: var(--color-text-primary);
        }

        & th.actionCol {
            width: 1%;
            white-space: nowrap;
        }

            & th.actionCol button {
                font-size: .75rem;
            }
    }



/* MODAL */
    div.modalConentent{
        background-color: var(--color-bg-primary);
        color: var(--color-text-primary);

        & > div{
            border-bottom: 0;
        }
    }

    section.modalBtn{
        display: flex;
        justify-content: flex-end;
    }

        section.modalBtn
        button {
            &:hover{
                color: var(--color-accent-text);
            }

            &:active{
                color: var(--color-accent-text) !important;
                border: 1px solid currentColor;
            }
        }