.pageTitle{
    color: var(--color-text-primary);
}

.introText{
    color: var(--color-text-primary);
    font-weight: 400;
    font-size: 1.1rem;
}

section.quoteContainer{
    padding: 1.5rem 2.5rem;
    border: 2px solid var(--color-bg-secondary);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & div > *{
        flex-grow: 1;
    }
}
button.quoteSubmitBtn{
    display: inline-block;
    align-self: end;
    padding: .5rem 2.5rem;
    background-color: var(--color-accent-pill);
    font-size: 1rem;
    color: var(--color-text-primary);
    border-radius: 5px;
    transition: all 150ms ease-out;
    &:hover{
        scale: 1.02;
        background-color: var(--color-accent-text);
    }

    &:active{
        scale:.95;
        background-color: var(--color-accent-bg);
    }
}

section.quoteResponse{
    background-color: var(--color-accent-bg);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: var(--color-text-primary);
}
    section.quoteResponse .finalValue{
    }